:root {
  --blue-background: rgba(79, 208, 228, 1);
  --purple-background: #af86fc;
  --yellow-background: #ffa866;
  --blue-background-gradient: linear-gradient(to top, #0087ff, #85f9ff);
  --purple-background-gradient: linear-gradient(to top, #a06eff, #ebbfff);
  --yellow-background-gradient: linear-gradient(to top, #ff7a52, #ffe366);

  --white-font: white;

  --pages-algo--padding-bottom: 4rem;
  --width-background-part: calc(100.1%);

  --height-background-part-mobile: calc(100vh / 3);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
}

li {
  height: inherit;
}

h2 {
  color: white;
  font-size: 3.5rem !important;
}

.navbar-position {
  position: fixed;
  z-index: 1000;
  right: 0;
}

#menu {
  background: none;
}

.item {
  color: var(--white-font) !important;
}
/* --- HOME PARTS --- */
.alcool {
  background: var(--blue-background-gradient);
  height: 100vh;
  width: var(--width-background-part);
}

.la-folie {
  background: var(--purple-background-gradient);
  height: 100vh;
  width: var(--width-background-part);
}

.sans-alcool {
  background: var(--yellow-background-gradient);
  height: 100vh;
  width: var(--width-background-part);
}
/* ---- PAGES ALGOS ----- */

.container {
  display: flex;
  height: 100vh;
  padding-bottom: var(--pages-algo--padding-bottom);
}

.container img {
  height: 60%;
}

.algoRandom {
  background-color: var(--purple-background);
  align-items: center;
}

.algoSoft {
  background-color: var(--yellow-background);
  align-items: center;
}

.algoAlcool {
  background-color: var(--blue-background);
  align-items: center;
}

.part {
  width: var(--width-background-part);
  text-align: center;
}

.algoAlcool .first-part,
.algoRandom .first-part,
.algoSoft .first-part {
  height: 100%;
  display: grid;
  grid-template-rows: 80% 20%;
}

.all-cursors-container {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 40% 40%;
  grid-template-columns: 100%;
  align-content: space-evenly;
  justify-content: center;
}

.algoSoft .first-part .all-cursors-container {
  grid-template-rows: 40%;
}

.cursor-container {
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  grid-template-columns: 100%;
  grid-template-rows: 30% 50%;
}

.label-cursor {
  display: grid;
  row-gap: 15px;
  height: 100%;
  width: 50%;
  color: var(--white-font);
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.cursor {
  width: 100%;
  height: 15px;
  -webkit-appearance: none;
  border-radius: 5px;
  box-shadow: inset 0 3px 18px rgba(0, 0, 0, 0.2);
}

.algoAlcool .cursor {
  background-color: var(--blue-background);
}

.algoSoft .cursor {
  background-color: var(--yellow-background);
}

.cursor::-moz-range-thumb,
.cursor::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.cursor-container p {
  font-size: 7rem;
  color: var(--white-font);
}

#button-favori {
  background: none;
  border: none;
  height: 7vh;
  width: 7vh;
}

.listefav {
  font-size: 2rem;
  line-height: 3.5rem;
}

/* Buttons */
.button-part {
  width: 100%;
  justify-self: flex-end;
  display: grid;
  grid-template-rows: 60px 50px 50px;
  row-gap: 15px;
  align-items: center;
  justify-items: center;
}

.button-cpnt {
  max-height: 120px;
  border: 2px solid var(--white-font);
  background: none;
  padding: 13px 16px;
  text-transform: uppercase;
  color: var(--white-font);
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 200ms cubic-bezier(0.66, -0.58, 0.53, 1.56);
}

.button-cpnt:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
}

.homepart-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 4rem;
}

.trails-main li {
  color: var(--white-font);
  font-size: 2rem;
  line-height: 3rem;
}

.trails-main ul div {
  height: 50px;
}

#text-over {
  color: var(--white-font);
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 60%;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid var(--white-font);
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

/* ------------------------------------------------------------------------------- */
@media screen and (min-width: 920px) and (max-width: 1200px) {
  h2 {
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 920px) {
  * {
    padding: 0;
    margin: 0;
  }

  .App {
    height: 100vh;
  }

  .homepart-position {
    justify-content: center;
  }

  .homepart-position img {
    height: 60vh;
  }

  .la-folie {
    height: 100vh;
  }

  .swiper-container {
    height: 100vh;
  }

  .navbar-position {
    left: 50%;
    transform: translateX(-50%);
  }

  .ui.menu:not(.vertical) .right.item,
  .ui.menu:not(.vertical) .right.menu {
    margin-left: 0 !important;
  }

  #menu {
    display: flex;
    justify-content: center;
  }

  /* LEGAL ABOUT FAVORI */
  #text-over {
    font-size: 2rem;
    line-height: 2.5rem;
    width: 80%;
  }

  .container {
    padding-bottom: inherit;
  }

  .container-mobile {
    display: flex;
    flex-direction: column;
  }

  .alcool-other-pages,
  .la-folie-other-pages,
  .sans-alcool-other-pages {
    height: var(--height-background-part-mobile);
    width: 100vw;
  }

  /* ALGO PARTS */

  .part {
    width: 100%;
  }

  .container-mobile-algo {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 45% 45%;
    align-content: end;
  }
  .algoAlcool .first-part,
  .algoRandom .first-part,
  .algoSoft .first-part {
    grid-template-rows: 50% 35%;
    align-content: end;
    padding-bottom: 1rem;
  }
  .first-part {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
  }

  .second-part {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .third-part {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-items: start;
  }

  .all-cursors-container {
    display: flex;
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
  }

  .cursor-container {
    display: grid;
    align-content: space-evenly;
    width: 50%;
  }

  .cursor-container p {
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 2rem;
    color: var(--white-font);
  }

  .label-cursor {
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
    width: 70%;
    font-size: 1rem;
    line-height: 1rem;
  }

  .cursor {
    width: 100%;
    height: 10px;
    margin-top: 2vh;
    -webkit-appearance: none;
    border-radius: 5px;

    box-shadow: inset 0 3px 18px rgba(0, 0, 0, 0.2);
  }

  .algoAlcool .cursor {
    background-color: var(--blue-background);
  }

  .algoSoft .cursor {
    background-color: var(--yellow-background);
  }

  .cursor::-moz-range-thumb,
  .cursor::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }

  .button-part {
    display: grid;
    grid-template-rows: 50% 50%;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
  }

  .button-part h2 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: start;
  }

  h2 {
    font-size: 3rem !important;
  }

  .button-cpnt {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 150px;
    max-height: 60px;
    padding: 10px;
    font-size: 1.2rem;
    justify-self: end;
  }

  #button-favori {
    justify-self: start;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
  }

  .trails-main {
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
  }

  .trails-main ul div {
    height: inherit;
  }

  .trails-main li {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }

  .card {
    width: 85%;
    border-radius: 5px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 5px solid var(--white-font);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 920px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .homepart-position {
    justify-content: space-evenly;
    flex-direction: row;
  }
  .container {
    display: flex;
    height: 100vh;
  }

  ul {
    height: 30%;
  }

  .text-over-landscape {
    height: 70vh;
  }
}
