:root {
  --blue-background : rgba(79, 208, 228, 1);
  --purple-background : rgba(189, 151, 251, 1);
  --yellow-background : rgba(246, 179, 116, 1);
  --width-background-part : calc(100% / 3);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
}

h2 {
  color: white;
  font-size: 3rem !important;
}

.navbar-position {
  position: fixed;
  right: 0;
}

#menu {
  background: none;
}

.item {
  color: white !important;
}

.container {
  display: flex;
  height: 100vh;
}

.container img {
  height: 60%;
}

.alcool {
  background-color: var(--blue-background);
  height: 100vh;
  width: var(--width-background-part);
}

.la-folie {
  background-color: var(--purple-background);
  height: 100vh;
  width: var(--width-background-part);
}

.sans-alcool {
  background-color: var(--yellow-background);
  height: 100vh;
  width: var(--width-background-part);
}

.algoRandom {
  background-color: var(--purple-background);
  align-items: center;
  padding-bottom: 4rem;
}

.part {
  width: var(--width-background-part);
  text-align: center;
}

.button-part {
  align-self: flex-end;
}

.button-cpnt {
  border: 2px solid white;
  background: none;
  padding: 1em;
  color: white;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: bold;
}

.homepart-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 4rem;
}

li {
  color: white;
  font-size: 2rem;
  line-height: 3rem;
}

#text-over {
  color: white;
  text-align: center;
  font-size: 5rem;
  line-height: 5rem;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
