:root {
  --blue-background: rgba(79, 208, 228, 1);
  --purple-background: #af86fc;
  --yellow-background: #ffa866;
  --blue-background-gradient: linear-gradient(to top, #0087ff, #85f9ff);
  --purple-background-gradient: linear-gradient(to top, #a06eff, #ebbfff);
  --yellow-background-gradient: linear-gradient(to top, #ff7a52, #ffe366);

  --pages-algo--padding-bottom: 4rem;
    --width-background-part: calc(100.1%);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
}

h2 {
  color: white;
  font-size: 3rem !important;
}

.navbar-position {
    position: fixed;
    z-index: 1000;
    right: 0;
}

#menu {
  background: none;
}

.item {
  color: white !important;
}
/* --- HOME PARTS --- */
.alcool {
  background: var(--blue-background-gradient);
  height: 100vh;
  width: var(--width-background-part);
}

.la-folie {
  background: var(--purple-background-gradient);
  height: 100vh;
  width: var(--width-background-part);
}

.sans-alcool {
  background: var(--yellow-background-gradient);
  height: 100vh;
  width: var(--width-background-part);
}
/* ---- PAGES ALGOS ----- */

.container {
  display: flex;
  height: 100vh;
  padding-bottom: var(--pages-algo--padding-bottom);
}

.first-part {
  height: 100%;
}

.container img {
  height: 60%;
}

.algoRandom {
  background-color: var(--purple-background);
  align-items: center;
}

.algoSoft {
  background-color: var(--yellow-background);
  align-items: center;
}

.algoRandom .first-part, .algoSoft .first-part {
  display: grid;
  align-items: flex-end;
}

.algoAlcool {
  background-color: var(--blue-background);
  align-items: center;
}

.part {
  width: var(--width-background-part);
  text-align: center;
}

.algoAlcool .first-part {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 35% 20%;
  align-content: flex-end;
}

.cursor-container {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  align-self: flex-end;
  display: grid;
  grid-template-rows: 40% 40%;
  justify-items: center;
  align-content: center;
}

.label-cursor {
  display: grid;
  align-items: center;
  width: 50%;
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.cursor {
  width: 100%;
  height: 15px;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: var(--blue-background);
  box-shadow: inset 0 3px 18px rgba(0, 0, 0, 0.2);
}

.cursor::-moz-range-thumb,
.cursor::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.cursor-container p {
  font-size: 7rem;
  color: white;
}

#button-favori {
  background: none;
  border: none;
  height: 7vh;
  width: 7vh;
}

/* Buttons */
.button-part {
  align-self: end;
}

.button-cpnt {
  border: 2px solid white;
  background: none;
  padding: 1em;
  color: white;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 200ms cubic-bezier(0.66, -0.58, 0.53, 1.56);
}

.button-cpnt:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
}

.homepart-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 4rem;
}

li {
  color: white;
  font-size: 2rem;
  line-height: 3rem;
}

.trails-main {
  color: white;
  font-size: 2rem;
  line-height: 3rem;
}

#text-over {
  color: white;
  text-align: center;
  font-size: 5rem;
  line-height: 5rem;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
